ADF/pipeline/06 - master.json
{
	"name": "06 - master",
	"properties": {
		"activities": [
			{
				"name": "01 - copy_csv_source",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01 - copy_csv_source",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "02 - copy_sql_db",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "02 - copy_sql_db",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "03 - copy_airlabs_restapi",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "03 - copy_airlabs_restapi",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "05 - refresh_databricks_notebooks",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "05 - refresh_databricks_notebooks",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"layer_name": "raw"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "01 - copy_csv_source",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "02 - copy_sql_db",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "03 - copy_airlabs_restapi",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "05 - refresh_databricks_notebooks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.layer_names_to_run",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "05 - refresh_databricks_notebooks_repeat",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "05 - refresh_databricks_notebooks",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"layer_name": {
										"value": "@item().layer_names_to_run",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "04 - publish_to_sql",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "04 - publish_to_sql",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"layer_names_to_run": {
				"type": "array",
				"defaultValue": [
					"raw",
					"cleansed",
					"data_quality_checks",
					"mart"
				]
			}
		},
		"annotations": []
	}
}